<VirtualHost *:{{ http_port }}>
   ServerAdmin webmaster@localhost
   ServerName {{ http_host }}
   ServerAlias www.{{ http_host }}
   DocumentRoot /var/www/{{ http_host }}
   ErrorLog ${APACHE_LOG_DIR}/error.log
   CustomLog ${APACHE_LOG_DIR}/access.log combined
   RewriteEngine On
   RewriteCond %{HTTPS} off
   RewriteRule ^(.*)$ https://{{ http_host }}/$1 [L,R=301]
   Redirect permanent / https://{{ http_host }}/
</VirtualHost>

<VirtualHost *:{{ https_port }}>
        SSLEngine on
        SSLCertificateFile "/etc/letsencrypt/live/{{ http_host }}/fullchain.pem"
        SSLCertificateKeyFile "/etc/letsencrypt/live/{{ http_host }}/privkey.pem"
        ServerAdmin foo@bar.org
        ServerName {{ ansible_hostname }}

        DocumentRoot /var/www/{{ http_host }}
        <Directory /var/www/{{ http_host }}/>
                Options -SymLinksIfOwnerMatch +FollowSymLinks
                AllowOverride AuthConfig Options
                Require all granted
        </Directory>
        <If "%{HTTP_HOST} == 'www.{{ http_host }}'">
        Redirect permanent / https://{{ http_host }}/
        </If>
        ErrorLog ${APACHE_LOG_DIR}/localhost.log
        LogLevel warn
        CustomLog ${APACHE_LOG_DIR}/localhost_access.log combined
</VirtualHost>
